<a href="https://colab.research.google.com/github/mallarapushiva/python-by-Eric-matthes/blob/main/Basics/Working_with_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We can use for loop in list to avoid repitive lines of code

In [ ]:
# examle
friends=["shiva","vivek","sharath","chandu"]
for friend in friends:
  print(friend.title()+" how are you")

Shiva how are you
Vivek how are you
Sharath how are you
Chandu how are you

# Try It Yourself

. Pizzas: Think of at least three kinds of your favorite pizza. Store these
pizza names in a list, and then use a for loop to print the name of each pizza.

In [ ]:
pizzas=["popper pizza","chilly pizza","veg pizza"]
for pizza in pizzas:
  print("list of pizzas are :{}".format(pizza))

list of pizzas are :popper pizza
list of pizzas are :chilly pizza
list of pizzas are :veg pizza

Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [ ]:
for pizza in pizzas:
  print("i like "+ pizza)
# adding conclusion that prints only once
print("\n")#Adding  a new line
print("i love all kinds pizzas")

i like popper pizza
i like chilly pizza
i like veg pizza


i love all kinds pizzas

# Numaric List

To create series of numaric list we can use **range(start,end,step)**

In [ ]:
lis_1=list(range(1,10))
print(lis_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

print even numbers between 1 to 20

In [ ]:
# we create an emty array
even_numbers=[]
for value in range(0,21,2):
# we are adding value to variable
  even_numbers.append(value)
print("even numbers are :{}".format(even_numbers))

even numbers are :[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Simple Statistics with a List of Numbers**

In [ ]:
lis_2=[1,3,24,14,1,2,33,53,45,7]
print("minimum number is :{}".format(min(lis_2)))
print("minimum number is :{}".format(max(lis_2)))
print("minimum number is :{}".format(sum(lis_2)))

minimum number is :1
minimum number is :53
minimum number is :183

**list comprehensions**

It writes the code of for loop and its statement in one line
i woun't recommend you ,because it is mach less readble.

In [ ]:
digits=[digit for digit in range(1,11)]
print("By using list comprehension :{}".format(digits))

By using list comprehension :[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Try It Yourself

*. One Million: Make a list of the numbers from one to one million, and then 
use a for loop to print the numbers. (If the output is taking too long, stop it by 
pressing ctrl-C or by closing the output window.)*

In [ ]:
million=[]
for value in range(1,1000001):#1 to one million number
  million.append(value)
print(million)
# READ BELLOW

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

*. Odd Numbers: Use the third argument of the range() function to make a list 
of the odd numbers from 1 to 20. Use a for loop to print each number*

In [ ]:
odd_number=[]#creating emty list
for value in range(1,21,2):#step=2 which means take element by step=2
  odd_number.append(value)
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

*Threes: Make a list of the multiples of 3 from 3 to 30. Use a for loop to 
print the numbers in your list.*

In [ ]:
threes=[]#emty list
for three in range(3,31):#range 3 to 30
  
  threes.append(three*3)
print(threes)

[9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90]

Cubes: A number raised to the third power is called a cube. For example, 
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that 
is, the cube of each integer from 1 through 10), and use a for loop to print out 
the value of each cube.

In [ ]:
cubes=[]#empy list
for cube in range(1,11): #itteration 1 to 10
  cubes.append(cube**3)
print("cubes list from 1 to 10 :{} ".format(cubes))

cubes list from 1 to 10 :[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Cube Comprehension: Use a list comprehension to generate a list of the 
first 10 cubes.

In [ ]:
# lets try this with list comprehensions

cubes=[cube**3 for cube in range(1,11)]
print("cubes list from 1 to 10 :{} ".format(cubes))

cubes list from 1 to 10 :[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#*slicing*

Slices: Using one of the programs you wrote in this chapter, add several 
lines to the end of the program that do the following:
•	 Print the message, The first three items in the list are:. Then use a slice to 
print the first three items from that program’s list

Print the message, Three items from the middle of the list are:. Use a slice to print three items from the middle of the list

Print the message, The last three items in the list are:. Use a slice to print 
the last three items in the list

In [30]:
lis_4=["shiva","vivek","srikanth","chandu","mahesh"]
print("The first three items in the list are : {}".format(lis_4[0:3]))
print("middle of the list: {}".format(lis_4[1:4]))
print("The last three items in the list are : {}".format(lis_4[-3:]))

The first three items in the list are : ['shiva', 'vivek', 'srikanth']
middle of the list: ['vivek', 'srikanth', 'chandu']
The last three items in the list are : ['srikanth', 'chandu', 'mahesh']

 My Pizzas, Your Pizzas: Start with your program from Exercise 4-1 
(page 60). Make a copy of the list of pizzas, and call it friend_pizzas.
Then, do the following:

•	 Add a new pizza to the original list'

•	 Add a different pizza to the list friend_pizzas.

•	 Prove that you have two separate lists. Print the message, My favorite 
pizzas are:, and then use a for loop to print the first list. Print the message, My friend’s favorite pizzas are:, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list

In [34]:
pizza=["popper pizza","chilly pizza","veg pizza"]
frind_pizza=pizza[:]
# adding new pizza
print(pizza.append("pizza_1"))
# adding new pizza to copylist
print(frind_pizza.append("pizza_2"))
# print statement 
for i in pizza:
  print("My favorite pizzas are :{}".format(i))
print("")
for i in frind_pizza:
   print("My friend favorite pizzas are :{}".format(i))

None
None
My favorite pizzas are :popper pizza
My favorite pizzas are :chilly pizza
My favorite pizzas are :veg pizza
My favorite pizzas are :pizza_1

My friend favorite pizzas are :popper pizza
My friend favorite pizzas are :chilly pizza
My friend favorite pizzas are :veg pizza
My friend favorite pizzas are :pizza_2